[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-crispy-forms = "==1.7.2"
django-markdown-deux = "==1.0.5"
django-pagedown = "==1.0.5"
djangorestframework = "==3.8.2"
gunicorn = "==20.0.4"
markdown2 = "==2.4.0"
Django = "==1.11.17"
Markdown = "==2.6.11"
Pillow = "==5.0.0"

[requires]
python_version = "3.6"
