Django==1.11.17
django-crispy-forms==1.7.2
django-markdown-deux==1.0.5
django-pagedown==1.0.5
djangorestframework==3.8.2
gunicorn==20.0.4
Markdown==2.6.11
markdown2==2.3.5
mysqlclient
mysql-connector-python
Pillow==5.0.0
